@tailwind base;

@tailwind components;

@tailwind utilities;

/* Prevent text selection globally */
* {
    user-select: none;
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none;    /* For Firefox */
  }
  